<html>
<head>
	<title>ms Netflix</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link rel="stylesheet" href="/styles.css"/>
</head>
<body>

	<div ng-app="tekFlix">
		<nav>
	  		<input ng-model="search" class="search-box" placeholder="Titles, people, genres"/>
	  		<h1>tekFLIX</h1>
	  	</nav>
	  	<tek-spinner-container search="search"></tek-spinner-container>
	</div>


	<script type="text/javascript">
		// Create tekFlix Module
		angular.module('tekFlix', ['tekFlix.services', 'tekFlix.directives']);

		angular.module('tekFlix.services', [])
			// Create movies Service
			.service('movies', function($http) {
				return {
					getSpinnerData: function() {
						return $http.get('http://localhost:3000/data');
					}
				};
			});

		angular.module('tekFlix.directives', [])
			// Create <tek-spinner-container></tek-spinner-container>
			.directive('tekSpinnerContainer', function(movies) {
				return {
					restrict: 'E',
					scope: {
						search: '='
					},
					template: [
						'<div class="spinner-container" ng-repeat="spinner in spinners | filter:search">',
							'<h2>{{ spinner.genre }}</h2>',
							'<tek-movie-spinner movies="spinner.movies" search="search"></tek-movie-spinner>',
						'</div>'].join(''),
					link: function($scope) {
						movies.getSpinnerData().then(function(result) {
							$scope.spinners = result.data;
						});
					}
				};
			})

			// Create <tek-movie-spinner></tek-movie-spinner>
			.directive('tekMovieSpinner', function() {
				return {
					restrict: 'E',
					scope: {
						movies: '=',
						search: '='
					},
					template: [
						'<ul class="tek-spinner">',
							'<li ng-repeat="movie in movies | filter:search">',
								'<img class="tek-movie" ng-src="{{movie.img_url}}" alt="{{movie.title}}"/>',
							'</li>',
						'</ul>'].join('')
				};
			});
	</script>
</body>
</html>